<html>

<head>
    <head>
        <title>Main Page</title>
        <meta charset="UTF-8">
        <style type="text/css"></style>
    </head>
<body>
    <h1>Main Page</h1>
    <script  type="text/javascript"></script>
    <script>
        var SC = require('soundcloud');



        SC.initialize({
            client_id: 'YOUR_CLIENT_ID',
            redirect_uri: 'https://example.com/callback'
        });
    </script>

</body>

</html>