

.card {
    border-width: 60%; /* Adjust the width as needed */
    margin: 10px; /* Add margin for spacing */
    width:calc(120% - 50px);
    
    

  }

  .card-contents{
    text-align: left;
  }

