body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.myContainer {
  margin-right: 50px;
  height: 100%;
}

.card {
  border-width: 60%;
  margin: 30px;
  width: calc(120% - 50px);
}

.card-contents {
  text-align: left;
  
}
.card-text{
  margin: 1;
  padding: 1;
 
}
